body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

#home {
  min-height: 100vh;
  background: url("../images/qbank20.png") no-repeat center center fixed;
  background-size: cover; }

.navbar-inverse {
  height: 50px;
  background-color: transparent;
  border-color: transparent; }

.nav-color {
  background-color: #444; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  color: #fff; }

.navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #fff; }

.navbar-inverse .navbar-brand {
  border: 1px solid #fff;
  box-shadow: 2px 1px 9px 2px #DCD3D3;
  padding: 5px 14px;
  height: 34px;
  margin-top: 7px;
  font-weight: bold; }

.pos {
  position: relative;
  top: 23vh;
  color: #fff; }

#school {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  margin-left: 5vw;
  font-size: 3.5em; }

#h1 {
  font-family: 'Satisfy', cursive; }

.button {
  margin-top: 20px;
  margin-left: 8vw; }

#signup {
  margin-right: 1vw;
  font-weight: bold; }

#login {
  margin-top: 20px;
  margin-left: 1vw;
  font-weight: bold; }

.or {
  position: relative;
  top: 25vh;
  color: #fff;
  font-weight: bold; }

.alert-success {
  margin-bottom: 0; }

.signup-row {
  margin-top: 23vh; }
  .signup-row form {
    text-align: center; }
    .signup-row form button {
      width: 100%; }
    .signup-row form .signup-input {
      text-align: center; }
  .signup-row h3 {
    margin-left: 42%;
    margin-bottom: 20px;
    border: 1px solid #D9534F;
    height: 39px;
    padding: 5px 12px;
    width: 104px;
    color: #D9534F; }

.bookmarks-row {
  margin-top: 3vh; }
  .bookmarks-row h4 {
    font-family: 'Bitter', sans-serif;
    color: #4A4545; }
  .bookmarks-row p {
    font-size: 17px; }
    .bookmarks-row p .bookmark-answer {
      color: #d9534f; }

.my-bookmarks-row {
  margin-top: 9vh; }
  .my-bookmarks-row h2 {
    color: #d9534f;
    font-family: 'Satisfy', cursive;
    margin-bottom: 3px; }
  .my-bookmarks-row hr {
    border-bottom: 2px solid #d9534f;
    width: 15%;
    margin: 0;
    position: relative;
    left: 25vw; }

.newqa-row {
  margin-top: 7vh; }
  .newqa-row form {
    text-align: center; }
  .newqa-row button {
    width: 100%; }

.qa-repeat-row {
  margin-bottom: 20px; }
  .qa-repeat-row hr {
    border: 1px dashed #ddd;
    border-color: #E5DCDC;
    margin: 0; }
  .qa-repeat-row .fa-check-circle-o, .qa-repeat-row .fa-times-circle-o {
    position: relative;
    left: -10px; }
  .qa-repeat-row .fa-check-circle-o {
    color: green; }
  .qa-repeat-row .fa-times-circle-o {
    color: red; }
  .qa-repeat-row .correct {
    margin-left: 20px; }
  .qa-repeat-row .correct-answer {
    background-color: green;
    border-color: green; }
    .qa-repeat-row .correct-answer:hover {
      background-color: green; }
  .qa-repeat-row .qa-option {
    margin-right: 7px;
    margin-top: 7px; }
  .qa-repeat-row .qa-submit {
    margin-top: 10px;
    margin-bottom: 12px; }
  .qa-repeat-row .show-correct {
    font-family: 'Bitter', sans-serif;
    color: green;
    font-size: 15px; }
  .qa-repeat-row .answer-border {
    border-color: green; }

.score-row {
  margin-top: 9vh; }
  .score-row h2 {
    color: #d9534f;
    font-family: 'Satisfy', cursive;
    margin-bottom: 3px;
    /*position: relative;
    left: 34px;*/ }
  .score-row hr {
    border-bottom: 2px solid #d9534f;
    width: 9%;
    margin: 0;
    position: relative;
    left: 26vw; }

.questions-row {
  margin-top: 2vh; }
  .questions-row .btn-default {
    font-family: 'Bitter', sans-serif;
    font-size: 14px;
    color: #4A4545; }
  .questions-row h4 {
    font-family: 'Bitter', sans-serif;
    color: #4A4545; }
  .questions-row .btn-sm {
    font-size: 13px; }
  .questions-row .bookmark-question {
    position: relative;
    top: 5px; }
    .questions-row .bookmark-question .fa {
      color: #d9534f; }

.score-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid #D0D0CA;
  padding: 3px; }

.subjects-row {
  margin-top: 30vh; }
  .subjects-row a:hover, .subjects-row a.active {
    text-decoration: none; }

.maths, .science, .social {
  border: 1px solid #ccc;
  box-shadow: 4px 3px 14px 4px #ccc;
  height: 30vh;
  width: 20vw;
  padding: 45px 0px; }
  .maths h3, .science h3, .social h3 {
    font-weight: bold; }

.maths {
  background: url("../images/maths.jpg");
  background-size: cover; }

.science {
  background: url("../images/science.jpg");
  background-size: cover; }

/*# sourceMappingURL=app.css.map */
