.newqa-row {
  margin-top: 7vh;

  form {
    text-align: center;
  }

  button {
    width: 100%;
  }
}


.qa-repeat-row {
  margin-bottom: 20px;
  hr {
    border: 1px dashed #ddd;
    border-color: #E5DCDC;
    margin:0;
  }

  .fa-check-circle-o, .fa-times-circle-o {
    position: relative;
    left: -10px;
  }

  .fa-check-circle-o {
    color: green;
  }

  .fa-times-circle-o {
    color: red;
  }

  .correct {
    margin-left: 20px;
  }

  .correct-answer {
    background-color: green;
    border-color: green;
    &:hover {
      background-color: green;
    }
  }

  .qa-option {
    margin-right: 7px;
    margin-top: 7px;
  }

  .qa-submit {
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .show-correct {
    font-family: 'Bitter', sans-serif;
    color: green;
    font-size: 15px;
  }


  .answer-border {
    border-color: green;
  }
}

.score-row {
  margin-top: 9vh;

  h2 {
    color: #d9534f;
    font-family: 'Satisfy', cursive;
    margin-bottom: 3px;
    /*position: relative;
    left: 34px;*/
  }

  hr {
    border-bottom:2px solid #d9534f;
    width: 9%;
    margin: 0;
    position: relative;
    left: 26vw;
  }
  
}

.questions-row {
  margin-top: 2vh;

  .btn-default {
    font-family: 'Bitter', sans-serif;
    font-size: 14px;
    color: #4A4545;
  }

  h4 {
    font-family: 'Bitter', sans-serif;
    color: #4A4545;
  }

  .btn-sm {
    font-size: 13px;
  }

  .bookmark-question {
    position: relative;
    top:5px;

    .fa {
      color: #d9534f;
    }
  }
}

.score-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid #D0D0CA;
  padding: 3px;
}
