<section id = "home">
  <div class="container">
    <div class="row">
      <h1 id = "school" class="pos"> School made easy! </h1>
      <h1 id ="h1" class="pos">Give your child a head start for life .</h1>
      <span ng-hide="homeCtrl.isLoggedIn()">
        <a href="#/signup"id="signup" class="btn btn-danger btn-md pos button">SIGNUP</a>
        <span class = "or"> OR </span>
        <a href="#/login"id="login" class="btn btn-danger btn-md pos button">LOGIN</a>
      </span>
    </div>
  </div>
</section>