<div class="container">
  <div class="row subjects-row">
    <div class="col-md-4">
      <div class="maths text-center">
      <a href="#/1/show-qa"><h3> Maths </h3></a>
        <!-- <img src="assets/images/qbank20.png"> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="science text-center">
        <a href="#/2/show-qa"><h3> Science </h3></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="social text-center">
        <a href="#/3/show-qa"><h3> Social </h3></a>
      </div>
    </div>
  </div>
</div>